{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                {{ title }}
            </legend>
            {% for field in fields %}
                <div class="form-group">
                    {{ form[field].label(class="form-control-label")}}
                    {% if form[field].errors %}
                        {{ form[field](class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form[field].errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form[field](class="form-control form-control-lg")}}
                    {% endif %}
                </div>
            {% endfor %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
    </form>
</div>
<script>
    let product_class_select = document.getElementById('product_class')
    let characterstics_select = document.getElementById('characterstics')
    
    product_class_select.onchange = function(){
        product_class = product_class_select.value;
        
        fetch('/charac/'+ product_class).then(function(response){
            response.json().then(function(data){
                let optionHTML='';

                for (let character of data[product_class]){
                    optionHTML += '<option value="'+ character.Characterstics +'">' + character.Characterstics + '</option>';
                }
                alert(optionHTML);
                characterstics_select.innerHTML = optionHTML;

            
            });

        });
    }
</script>
{% endblock content %}
