{% extends "layout.html" %}
{% set title = 'Home' %}
{% block content %}
<h1>Wellspring Data Application</h1>
<p>You are logged in as <b>{{current_user.username }}</b> from <b>Site: {{ current_user.site }}</b> with <b>Role: {{ current_user.role }}</b></p>
<div class="row row-cols-1 row-cols-md-3">
    {% for rec in apps %}
        <div class="col mb-4">
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ rec.Title }}</h5>
                    <p class="card-text">{{ rec.Description }}</p>
                    <a href={{ rec.link }} class="btn btn-secondary">Click to Launch</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
