{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Register new User
                </legend>
                {% for field in fields %}
                    <div class="form-group">
                        {{ form[field].label(class="form-control-label")}}
                        {% if form[field].errors %}
                            {{ form[field](class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form[field].errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form[field](class="form-control form-control-lg ")}}
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>

{% endblock content %}