{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Success! Data has been added.</h1>
    <a href={{ '/home' }} class="btn btn-primary">Home</a>
    <a href={{ '/ftr' }} class="btn btn-primary">Another Entry</a>
</div>
{% endblock content %}